#main {
    margin: 0 15px;
}

.navigation-panel {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.mine-vehicles-title {
    text-align: center;
    font-size: 20px;
}

.all-pending-vehicles-title {
    text-align: center;
    font-size: 20px;
}

.vehicle-info {
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
}

.pending {
    background-color: #ffc107;
}

.registered {
    background-color: #28a745;
    color: white;
}

.transfer {
    background-color: #007bff;
    color: white;
}

.transfer-vehicle-title {
    text-align: center;
    font-size: 20px;
}

.transfer-vehicle-panel {
    text-align: center;
}

.search-for-vehicle-title {
    text-align: center;
    font-size: 20px;
}

.search-for-vehicle-panel {
    text-align: center;
}

.vehicle-addition-title {
    text-align: center;
    font-size: 20px;
}

.vehicle-addition-panel {
    text-align: center;
}

.vehicle-addition-select {
    width: 204px;
}

.transfer-vehicle-panel input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.transfer-vehicle-panel button {
    width: 100%;
}

.vehicle-addition-panel input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.vehicle-addition-panel select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.vehicle-addition-panel button {
    width: 100%;
}

.search-for-vehicle-panel input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.search-for-vehicle-panel button {
    width: 100%;
}

.vehicle-info-first-row {
    overflow: hidden;
}

.vehicle-type-label {
    float:left;
}

.vehicle-status-label {
    float: right;
}

.pending-label {
    color: #ba8a07;
    font-weight: bold;
}
.registered-label {
    color: #73de7d;
    font-weight: bold;
}

.transfer-label {
    color: #91b6ff;
    font-weight: bold;
}

.found-vehicle {
    margin-top: 30px;
}

.vehicle-approve-action {
    margin-left: 10px;
}

.vehicle-utilization-action {
    margin-left: 10px;
}